@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sta Rosa<br />
    Nueva Ecija<br />
    <abbr title="Phone">P:</abbr>
    09955493026
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:johnsonnycruz@gmail.com">johnsonnycruz@gmail.com</a>
</address>